/* CSS file*/

/*Captions are grey*/

figcaption {color: gray; font-style: italic;}

p {font-family: Georgia, serif;}

h1 {text-transform: uppercase;}

/*democrat blue, republican red*/


.red-text {
	color: red}
	{font-style: oblique;}

.blue-text {
	color: blue;
}


footer {color: gray; font-style: italic;}
