
figcaption {color: gray; font-style: italic;}

p {font-family: Georgia, serif;}

/*makes h1 elements uppercase*/

h1 {text-transform: uppercase;}

figure{max-width: 600px;}

img{max-width: 100%;}

.red-text {
	color: red}

.blue-text {
	color: royalblue;}

h6 {color: gray; font-style: italic;}

